<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>ストリートファイター5情報</title>
</head>
<body>
  <h2>ストリートファイター5情報</h2>
  <p><%= mes %></p>
  <p><a href="/sfv">全キャラクター情報</a></p>
  <p><a href="/public/use.html">使用順位順</a></p>
  <p><a href="/public/hp.html">体力順</a></p>
  <p><a href="/public/stan.html">スタン値順</a></p>
  <p><a href="/public/gender.html">性別毎キャラクター一覧</a></p>
  <!--<p>*<a href="/public/insert.html">登録</a></p>-->
</body>
</html>